/*
* @description: 通用模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-05-11
*/


/* topbar */
.m-topbar{
	height: 40px;
	line-height: 40px;
	background-color: #333;
	color: #999;
}

/* head */
.m-head{
	height: 80px;
	background-color: #ffffff;
}

/* logo */
.m-logo{
	width: 260px;
	padding-top: 20px;
}
.m-logo a{
	display: block;
	width: 260px;
	height: 42px;
	background: url(../images/logo.png) no-repeat;
}

/* nav */
.m-nav li{
	float: left;
	position: relative;
}
.m-nav li a{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	color: #333;
	height: 80px;
	line-height: 80px;
}
.m-nav li a.dropdown{
	padding-right: 30px;
}
.m-nav .arrow{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #555;
	position: absolute;
  	top: 40px;
  	right: 17px;
  	z-index: 1;
}

/* foottop */
.m-foottop{
	height: 105px;
}

/* footlink */
.m-footlink{
	padding-top: 20px;
	padding-bottom: 20px;
}
.m-footlink li{
	float: left;
	margin-right: 40px;
}

/* footcontact */
.m-contact .time{
	font-size: 24px;
	color: #5d5d5d;
}
.m-contact .time em{
	font-size: 14px;
	font-style: normal;
}

/* footbottom */
.m-footbottom{
	height: 80px;
	line-height: 80px;
}

/* copyright */
.m-copyright{
	color: #707e8c;
	font-size: 12px;
}
.m-copyright a{
	color: #707e8c;
}
.m-copyright a:hover{
	color: #ffffff;
}

/* verification */
.m-verification a{
	display: block;
	width: 60px;
	height: 24px;
	border:1px solid #fff;
	float: left;
	margin-right: 5px;
}
.m-verification a.vficon{
	background: url(../images/icon-verification.png) no-repeat;
}
.m-verification a.icon-norton{
	background-position: -152px 0px;
}
.m-verification a.icon-chengxin{
	background-position: -152px 0px;
}