/*
* @description: 关于我们样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-05-25
*/

/* 侧栏导航 */
.m-subnav li{
	border-bottom: 1px solid #ebecee;
    height: 50px;
}
.m-subnav li a{
	border-left: 3px solid #fff;
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 50px;
    padding-left: 62px;
}
.m-subnav li a:hover{
	border-left: 3px solid #ff6c00;
	color: #ff6c00;
}
.m-subnav li.current a{
	border-left: 3px solid #ff6c00;
	color: #ff6c00;
}

/* 内容 */
.m-content{
	min-height: 680px;
	border-left: 1px solid #e5e7eb;
}

/* 标题 */
.m-tit{
	height: 127px;
	line-height: 127px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 24px;
	color: #ffffff;
	background: #16ba98 url(../../images/about_tit_bg.png);
}

/* 扩展标题 */
.m-tit-1{
	line-height: normal;
	padding-top: 25px;
	height: 102px;
}
.m-tit-1 span{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.m-tit-1 a:hover{
	color: #ffffff;
}

/* 扩展标题2 */
.m-tit-2{
	line-height: normal;
	padding-top: 15px;
	height: 112px;
	background: #16ba98 url(../../images/job_tit_bg.png);
}

/* 关于我们 */
.m-about .about p{
	margin-bottom: 20px;
}

.m-about .license li{
	float: left;
	margin-left: 100px;
}
.m-about .license li a{
	display: block;
	width: 96px;
	height: 96px;
	background: url(../../images/report.png) no-repeat;
}
.m-about .license li a.icon-license{
	background-position: 0px 0px;
}
.m-about .license li a.icon-license:hover{
	background-position: 0px -118px;
}
.m-about .license li a.icon-tax{
	background-position: -142px 0px;
}
.m-about .license li a.icon-tax:hover{
	background-position: -142px -118px;
}
.m-about .license li a.icon-report{
	background-position: -284px 0px;
}
.m-about .license li a.icon-report:hover{
	background-position: -284px -118px;
}
.m-about .photo li{
	float: left;
	margin-right: 6px;
	margin-bottom: 5px;
}
.m-about .photo li.mr0{
	margin-right: 0px;
}

/* 法律顾问 */
.m-counsel .baseInfo{
	width: 355px;
	height: 444px;
	background: url(../../images/border.png) no-repeat;
}
.m-counsel .about{
	background: #00bc9c;
	width: 325px;
	height: 430px;
	padding: 15px 15px 0;
}
.m-counsel .about p{
	color: #fff;
    line-height: 28px;
    margin-bottom: 25px;
    text-align: left;
}

/* 合作伙伴 */
.m-partners li{
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px dashed #c0c0c0;
}
.m-partners .partnerTit{
	font-size: 18px;
    height: 55px;
    line-height: 55px;
    padding-bottom: 13px;
    text-align: left;
}
.m-partners .partnerCon p{
	color: #5d5d5d;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB",宋体;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 25px;
    text-align: justify;
    text-indent: 2em;
    white-space: normal;
}

/* 网站公告 */
.m-notice li{
	margin-bottom: 22px;
}
.m-notice li a{
	color: #999;
}
.m-notice li a span{
	margin-right: 20px;
}

/* 诚聘英才 */
.m-job .tabMenu{
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
}
.m-job .tabMenu li{
	float: left;
	margin-right: 30px;
	font-size: 18px;
}
.m-job .tabMenu li a{
	display: inline-block;
	padding-bottom: 4px;
}
.m-job .tabMenu li a:hover{
	border-bottom: 2px solid #00bc9c;
    color: #00bc9c;
}
.m-job .tabMenu li.current a{
	border-bottom: 2px solid #00bc9c;
    color: #00bc9c;
}
.m-job .tabCon .content{
	line-height: 26px;
}
.m-job .tabCon .content strong{
	font-weight: bold;
}

/* 法律法规 */
.m-laws li{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #c0c0c0;
}
.m-laws li.first{
	padding-top: 0px;
}
.m-laws .lawsTit a{
	color: #333;
}
.m-laws .lawsCon{
	line-height: 24px;
}

/* 联系我们 */
.m-contact .linkItem li{
	margin-bottom: 10px;
	height: 30px;
	padding-left: 35px;
	position: relative;
}
.m-contact .linkItem li i{
	left: 0;
    position: absolute;
    background-image: url(../../images/link-sprite.png);
}
.m-contact .linkItem .icon-link-01 {
    background-position: 0 0;
    height: 30px;
    width: 20px;
}
.m-contact .linkItem .icon-link-02 {
    background-position: -30px 0;
    height: 22px;
    width: 22px;
}
.m-contact .linkItem .icon-link-03 {
	background-image: url(../../images/partner.jpg);
    height: 20px;
    width: 28px;
}
.m-contact .linkItem .icon-link-04 {
    background-position: -129px 0;
    height: 21px;
    width: 26px;
}
.m-contact .linkItem .icon-link-05 {
    background-position: -4px -40px;
    height: 15px;
    width: 25px;
}
.m-contact .linkItem .icon-link-06 {
    background-position: -38px -41px;
    height: 15px;
    width: 25px;
}
.m-contact .linkItem .icon-link-07 {
    background-position: -72px -38px;
    height: 20px;
    width: 20px;
}
.m-contact .linkItem .icon-link-08 {
    background-position: -99px -36px;
    height: 20px;
    width: 20px;
}
.m-contact .linkItem .icon-link-09 {
    
    background-position: -127px -35px;
    height: 20px;
    width: 20px;
}