/*
* @description: 登录注册样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-05-28
*/

/* top信息 */
.m-topInfo h3{
	font-size: 18px;
	height: 60px;
	line-height: 60px;
}

/* 跳转连接 */
.m-link span{
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
}
.m-link a,.m-link a:hover{
	color: #ff6c00;
	text-decoration: none;
}

/* box */
.m-box{
	padding-bottom: 80px;
	margin-left: 130px;
}

.m-form .icon-account{
	background-position: -1405px -26px;
	width: 18px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 12px;
	z-index: 10
}
.m-form .icon-password{
	background-position: -1405px 0px;
	width: 18px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 12px;
	z-index: 10
}
.m-form .icon-confirmpwd{
	background: url(../../images/suozi.png);
	width: 18px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 12px;
	z-index: 10
}
.m-form  .icon-phone{
	background-position: -1379px 0px;
	width: 15px;
	height: 22px;
	position: absolute;
	top: 10px;
	left: 12px;
	z-index: 10
}
.m-form .icon-line{
	display: inline-block;
	width: 1px;
	height: 25px;
	border-right: 1px solid #dcdcdc;
	position: absolute;
	top: 8px;
	left: 38px;
}
.m-form .icon-baozhang{
	background-position: -677px 0px;
	width: 14px;
	height: 16px;
	margin-right: 5px;
	vertical-align: -3px;
}