/*
* @description: 项目详情样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-05-25
*/

/* 项目详情 - 左侧自适应布局 */
.g-sd2{position:relative;float:right;width:340px;margin-left:-340px}
.g-mn2{float:left;width:100%;}
.g-mn2c{margin-right:350px;}

/* 面包屑导航 */
.m-crumb{
	overflow:hidden;
	line-height:1.5;
}
.m-crumb ul{
	margin-left:-20px;
}
.m-crumb li{
	float:left;
	word-wrap:normal;
	white-space:nowrap;
}
.m-crumb li:before{
	display:inline-block;
	width:20px;
	text-align:center;
	content:'\3E';
	font-size:12px;
	color:#ccc;
	font-family:\5b8b\4f53;
}

/* 项目标题 */
.m-tit{
	height: 58px;
	line-height: 58px;
	border-bottom: 1px solid #F0F0F0;
	padding-left: 20px;
	padding-right: 20px;
	color: #333;
}

/* 项目属性 */
.m-attr1 li{
	float: left;
	padding-left: 25px;
}
.m-attr1 li.l1{
	width: 250px;
}
.m-attr1 li.l2{
	width: 140px;
	border-left: 1px dotted #999;
}
.m-attr1 li.l3{
	width: 140px;
	border-left: 1px dotted #999;
}

.m-attr2{
	padding-left: 25px;
	border-bottom: 1px dotted #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
.m-attr2 li{
	float: left;
	height: 35px;
	line-height: 35px;
}
.m-attr2 li.l1{
	width: 58%;
}

/* 未登录 */
.m-nologin p.item{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px dashed #eee;
	margin-bottom: 10px;
}
.m-nologin p.item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 144px;
	line-height: 144px;
}

/* 已登录 */
.m-login p.item{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px dashed #eee;
	margin-bottom: 10px;
}
.m-login p.item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 144px;
	line-height: 144px;
}

/* tab样式 */
.m-tab .tabMenu{
	background-color: #fafafa;
}
.m-tab .tabMenu li{
	border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    cursor: pointer;
    float: left;
    height: 47px;
    line-height: 47px;
    padding: 0 30px;
    text-align: center;
}
.m-tab .tabMenu li.current{
	background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #2980b9;
    height: 46px;
    line-height: 46px;
}

/* con */
.m-con{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;

}